.searchContainer {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px; 
}
.searchBox {
    padding: 8px 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 14px; 
    width: 400px; 
    outline: none; 
    margin-bottom: 20px;
    align-items: center;
}

.searchBox::placeholder {
    color: #aaa; 
}

.heading {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
}

.heading h2 {
    font-size: 30px; 
}
